<div class="blog--side">
		<div class="blog-content">
			<div class="blog-content__img">
				<img src="tmp/blog-content__img.jpg">
			</div>
			<div class="blog-content-descr">
				<p class="blog-one__date">
					April 1st, 2017
				</p>
				<p class="blog-content-descr__text">
					A movable glass partition allows for flexible room structure in interior designs or storefronts while allowing the natural light to shine through. Perfect for use when occasional separation for meetings in a large office is needed or for home use when a stationary wall is not desired. Many different glass options are also available so the wall of glass not only allows the light to shine through, it also allows you to customize the see-through wall so it will become the WOW factor of your office, restaurant, school or home. Horizontal Rail System This style of movable glass partitions slide on atop and bottom rail system. </p>
				<p class="blog-content-descr__text">
					The glass panels have no visible hardware and provides a seamless, un-obstructed appearance. The glass panels seem to be floating and can be constructed with straight, angled or curved lines to meet the needs of the customers’ space. Folding Sliding Glass Panels Great for use as entrance ways into shops, banks or other interior spaces. The folding sliding system of glass panels do not have a bottom track to obstruct foot traffic. Glass panel have trolleys in the center to allow panels to stack as they fold and slide open</p>
				<p class="blog-content-descr__text">
					Acoustical System Ultra-sleek and modern, this style of movable glass partitions provides a sound separation, yet maintains a clear view. Mounted on aluminum tracks, the glass panels are motorized so they can be opened and closed quickly and effortlessly. Single Point System No floor track and the ability to be designed for a straight or curved space make the single point system great for use in any entryway.
			</div>
		</div>
		<div class="blog-content-related">
			<h2 class="blog-content-related__tittle">
				Related posts
			</h2>
			<div class="blog-one blog-content-one">
				<a href="#" >
					<div class="blog-one__img blog-one-content__img">
					</div>
				</a>
				<div class="blog-one-descr">
					<a href="#" class="blog-one__title">
						<h3 class="blog-one__title">
							Office Glass Partitioning
						</h2>
					</a>
					<p class="blog-one__date">
						April 1st, 2017
					</p>
				</div>
			</div>
			<div class="blog-one blog-content-one">
				<a href="#" >
					<div class="blog-one__img blog-one-content__img">
					</div>
				</a>
				<div class="blog-one-descr">
					<a href="#" class="blog-one__title">
						<h3 class="blog-one__title">
							Office Glass Partitioning
						</h2>
					</a>
					<p class="blog-one__date">
						April 1st, 2017
					</p>
				</div>
			</div>
		</div>
	</div>

</div>
