<div class="catalog-filtr">
	<div class="catalog-filtr__title">
		Find product
	</div>
	<div class="catalog-filtr-line">
		<div class="catalog-filtr-line__title">
			System / Material
		</div>
		<div class="catalog-filtr-line__one">
			<input name="material" type="checkbox" id="chek1">
			<label for="chek1">Aluminum</label>
		</div>
		<div class="catalog-filtr-line__one">
			<input name="material" type="checkbox" id="chek2">
			<label for="chek2">PVH</label>
		</div>
		<div class="catalog-filtr-line__one">
			<input name="material" type="checkbox" id="chek3">
			<label for="chek3">Plaspic</label>
		</div>
	</div>
</div>