<div class="catalog-list catalog-list--side">
	<div class="catalog-one">
		<a href="#" class="catalog-one__img"><img src="/tmp/product-one.jpg" alt=""></a>
		<div class="catalog-one-descr">
			<a href="#" class="catalog-one__title">FW 50+.SI</a>
			<p class="catalog-one-descr__text">The Schüco FW 50+.SI mullion transom façade achieves the current climate targets – passive house-certifie<br>
			Today the Schüco Façade FW 50+.SI sets the thermal insulation standard for mullion transom façades. Even when using materials offering maximum thermal insulation, there is unrestricted design freedom as well as simple and efficient fabrication.</p>
			<div class="catalog-tag">
				<a class="catalog-tag__one" href="#">Aluminum</a>
				<a class="catalog-tag__one" href="#">Highly thermally insulated</a>
				<a class="catalog-tag__one" href="#">Transom-mullion</a>
			</div>
		</div>
	</div>
	<div class="catalog-one">
		<a href="#" class="catalog-one__img"><img src="/tmp/product-one.jpg" alt=""></a>
		<div class="catalog-one-descr">
			<a href="#" class="catalog-one__title">FW 50+.SI</a>
			<p class="catalog-one-descr__text">The Schüco FW 50+.SI mullion transom façade achieves the current climate targets – passive house-certifie<br>
			Today the Schüco Façade FW 50+.SI sets the thermal insulation standard for mullion transom façades. Even when using materials offering maximum thermal insulation, there is unrestricted design freedom as well as simple and efficient fabrication.</p>
			<div class="catalog-tag">
				<a class="catalog-tag__one" href="#">Aluminum</a>
				<a class="catalog-tag__one" href="#">Highly thermally insulated</a>
				<a class="catalog-tag__one" href="#">Transom-mullion</a>
			</div>
		</div>
	</div>
	<div class="catalog-one">
		<a href="#" class="catalog-one__img"><img src="/tmp/product-one.jpg" alt=""></a>
		<div class="catalog-one-descr">
			<a href="#" class="catalog-one__title">FW 50+.SI</a>
			<p class="catalog-one-descr__text">The Schüco FW 50+.SI mullion transom façade achieves the current climate targets – passive house-certifie<br>
			Today the Schüco Façade FW 50+.SI sets the thermal insulation standard for mullion transom façades. Even when using materials offering maximum thermal insulation, there is unrestricted design freedom as well as simple and efficient fabrication.</p>
			<div class="catalog-tag">
				<a class="catalog-tag__one" href="#">Aluminum</a>
				<a class="catalog-tag__one" href="#">Highly thermally insulated</a>
				<a class="catalog-tag__one" href="#">Transom-mullion</a>
			</div>
		</div>
	</div>
	<div class="catalog-one">
		<a href="#" class="catalog-one__img"><img src="/tmp/product-one.jpg" alt=""></a>
		<div class="catalog-one-descr">
			<a href="#" class="catalog-one__title">FW 50+.SI</a>
			<p class="catalog-one-descr__text">The Schüco FW 50+.SI mullion transom façade achieves the current climate targets – passive house-certifie<br>
			Today the Schüco Façade FW 50+.SI sets the thermal insulation standard for mullion transom façades. Even when using materials offering maximum thermal insulation, there is unrestricted design freedom as well as simple and efficient fabrication.</p>
			<div class="catalog-tag">
				<a class="catalog-tag__one" href="#">Aluminum</a>
				<a class="catalog-tag__one" href="#">Highly thermally insulated</a>
				<a class="catalog-tag__one" href="#">Transom-mullion</a>
			</div>
		</div>
	</div>
	<div class="pager">
		<span>1</span>
		<a href="#">2</a>
		<a href="#">3</a>
	</div>
</div>	