	<div class="references-list">
		<a href="#" class="references-one" style="background-image: url(/tmp/product-1.jpg);">
			<div class="references-one__text">
				<div class="references-one__title">Private Home</div>
				<div class="references-one__place">Warburg, Germany</div>
			</div>
		</a>
		<a href="#" class="references-one" style="background-image: url(/tmp/product-2.jpg);">
			<div class="references-one__text">
				<div class="references-one__title">Private Home</div>
				<div class="references-one__place">Warburg, Germany</div>
			</div>
		</a>
		<a href="#" class="references-one" style="background-image: url(/tmp/product-3.jpg);">
			<div class="references-one__text">
				<div class="references-one__title">Private Home</div>
				<div class="references-one__place">Warburg, Germany</div>
			</div>
		</a>
		<a href="#" class="references-one" style="background-image: url(/tmp/product-2.jpg);">
			<div class="references-one__text">
				<div class="references-one__title">Private Home</div>
				<div class="references-one__place">Warburg, Germany</div>
			</div>
		</a>
		<a href="#" class="references-one" style="background-image: url(/tmp/product-3.jpg);">
			<div class="references-one__text">
				<div class="references-one__title">Private Home</div>
				<div class="references-one__place">Warburg, Germany</div>
			</div>
		</a>
		<a href="#" class="references-one" style="background-image: url(/tmp/product-1.jpg);">
			<div class="references-one__text">
				<div class="references-one__title">Private Home</div>
				<div class="references-one__place">Warburg, Germany</div>
			</div>
		</a>
	</div>