<div class="footer">
    <div class="footer-inn">
        <div class="footer-menu">
            <div class="footer__title">
                <a href="#">Products</a>
            </div>
            <ul class="footer-menu-list">
                <li><a href="#">Windows</a></li>
                <li><a href="#">Doors</a></li>
                <li><a href="#">Façades</a></li>
                <li><a href="#">Sliding Systems</a></li>
                <li><a href="#">Sun Shading Systems</a></li>
            </ul>
        </div>

        <div class="footer-menu">
            <div class="footer__title">
                <a href="#">References</a>
            </div>
            <ul class="footer-menu-list">
                <li><a href="#">Office and Business</a></li>
                <li><a href="#">Education and Culture</a></li>
                <li><a href="#">Health</a></li>
                <li><a href="#">Living</a></li>
            </ul>
        </div>

        <div class="footer-menu">
            <div class="footer__title">
                <a href="#">Magazine</a>
            </div>
            <ul class="footer-menu-list">
                <li><a href="#">Current contributions</a></li>
                <li><a href="#">Discussion</a></li>
                <li><a href="#">Praxis</a></li>
                <li><a href="#">Sustainability</a></li>
                <li><a href="#">Transition</a></li>
            </ul>
        </div>

        <div class="footer-contact">
            <div class="footer__title">
                <a href="#">Contact</a>
            </div>
            <p>
            2201 Neptune Ave Brooklyn, NY 11224<br>
            (718) 535-5668<br>
            See Map<br>
            <a href="#">info@domen.com</a>
            </p>
        </div>
    </div>
    <div class="footer-copy">
        <div class="footer-copy__inn">
            © 2017 Schüco International
        </div>
    </div>
</div>