<div class="head">
    <div class="wrap">
        <div class="head-top">
            <a href="#" class="head-top__main-logo">
                <img src="/img/logoNYGW.png" alt="">
            </a>
            <div class="head-top__partner">
                <img src="/img/partner.png" alt="">
            </div>
            <div class="head-contact">(718) 535-5668  or
                <a href="#order" class="head-top__order open_modal">order call</a>
            </div>
        </div>
    </div>
    <div class="head-menu">
        <div class="wrap">
            <ul class="head-menu__list">
                <li><a href="#">Products</a>
                    <ul>
                        <li><a href="#">Windows</a></li>
                        <li><a href="#">Doors</a></li>
                        <li><a href="#">Façades</a></li>
                        <li><a href="#">Sliding Systems</a></li>
                        <li><a href="#">Sun Shading Systems</a></li>
                    </ul>
                </li>
                <li><a href="#">References</a>
                    <ul>
                        <li><a href="#">Office and Business</a></li>
                        <li><a href="#">Education and Culture</a></li>
                        <li><a href="#">Health</a></li>
                        <li><a href="#">Living</a></li>
                    </ul>
                </li>
                <li><a href="#">Magazine</a>
                    <ul>
                        <li><a href="#">Current contributions</a></li>
                        <li><a href="#">Discussion</a></li>
                        <li><a href="#">Praxis</a></li>
                        <li><a href="#">Sustainability</a></li>
                        <li><a href="#">Transition</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Company</a></li>
            </ul>
            <div class="head-seach">
                <form id="search">
                    <input class="search__input" type="text" placeholder="What are you looking for?">
                    <button class="search__button"></button>
                </form>
            </div>
        </div>
    </div>
</div>