<div class="spoler">
	<div class="spoler-title">Technical infos</div>
	<div class="spoler-inn">
		<p>Schüco CTB surface-mounted on Schüco Window AWS</p>
		<p>The Schüco CTB wind-resistant feature blind is fitted in an installation frame on the Schüco AWS window system and can be positioned on a punched opening or over a ribbon window. The blind can be installed and modified from the outside or inside due to the structural load-bearing installation frame.</p>
	</div>
</div>
<div class="spoler">
	<div class="spoler-title">Tender specifications</div>
	<div class="spoler-inn">
		<p>Schüco CTB surface-mounted on Schüco Window AWS</p>
		<p>The Schüco CTB wind-resistant feature blind is fitted in an installation frame on the Schüco AWS window system and can be positioned on a punched opening or over a ribbon window. The blind can be installed and modified from the outside or inside due to the structural load-bearing installation frame.</p>
	</div>
</div>
