<div class="gallery">
	<div class="gallery-inn">
		<a href="/tmp/product-inn.jpg">
			<div class="gallery-one" data-hash="id1" style="background-image: url(/tmp/product-inn.jpg);"></div>
		</a>
		<a href="/tmp/product-inn.jpg">
			<div class="gallery-one" data-hash="id2" style="background-image: url(/tmp/product-inn.jpg);"></div>
		</a>
		<a href="/tmp/product-inn.jpg">
			<div class="gallery-one" data-hash="id3" style="background-image: url(/tmp/product-inn.jpg);"></div>
		</a>
	</div>
	<div class="gallery-nav">
		<div class="gallery-nav-inn">
			<a href="#id1" class="gallery-nav__one" style="background-image: url(/tmp/product-inn.jpg);"></a>
			<a href="#id2" class="gallery-nav__one" style="background-image: url(/tmp/product-inn.jpg);"></a>
			<a href="#id3" class="gallery-nav__one" style="background-image: url(/tmp/product-inn.jpg);"></a>
		</div>
	</div>
</div>