<div class="tabs">
	<div class="tabs-menu">
		<div class="tabs-menu__one active">DESCRIPTION</div>
		<div class="tabs-menu__one">PRODUCT BENEFITS</div>
	</div>
	<div class="tabs-box">
		<div class="tabs-one" style="display: block;">
			<p>Schüco CTB surface-mounted on Schüco Window AWS</p>
			<p>The Schüco CTB wind-resistant feature blind is fitted in an installation frame on the Schüco AWS window system and can be positioned on a punched opening or over a ribbon window. The blind can be installed and modified from the outside or inside due to the structural load-bearing installation frame.</p>
		</div>
		<div class="tabs-one">
			<p>The Schüco CTB wind-resistant feature blind is fitted in an installation frame on the Schüco AWS window system and can be positioned on a punched opening or over a ribbon window. The blind can be installed and modified from the outside or inside due to the structural load-bearing installation frame.</p>
			<p>Schüco CTB surface-mounted on Schüco Window AWS</p>
		</div>
	</div>
</div>