<div class="main-about clearfix">
	<div class="main-about__img"></div>
	<div class="main-about-right">
		<div class="main-about__title">ABOUT SCHÜCO</div>
		<div class="main-about__subtitle">Windows, doors and façades – sustainable and innovative</div>
		<p>Schüco is one of the leading suppliers of high-quality window, door and façade systems made from aluminium, PVC-U and steel. Millions of Schüco products are used all over the world and meet the highest requirements of design, comfort, security and energy efficiency.</p>
		<a href="#" class="main-about__more">More</a>
	</div>
</div>