<div class="main-product">
	<h1 class="title">Products</h1>
	<p>Schüco products offer sophisticated, proven system technology combined with versatility in terms of materials, design and application options – for security, wellbeing and living in harmony with nature.</p>
	<div class="product-list">
		<a href="#" class="product-list-one" style="background-image: url(/tmp/product-1.jpg)">
			<div class="product-list-one__title">Facades</div>
		</a>
		<a href="#" class="product-list-one" style="background-image: url(/tmp/product-2.jpg)">
			<div class="product-list-one__title">Doors & Fittings</div>
		</a>
		<a href="#" class="product-list-one" style="background-image: url(/tmp/product-3.jpg)">
			<div class="product-list-one__title">Windows & Fittings</div>
		</a>
	</div>
</div>