<div class="main-slider">
	<div class="main-slider-inn">
		<div class="main-slider-one" style="background-image: url(/tmp/main-slide-1.jpg);">
			<div class="main-slider-content" >
				<div class="main-slider-one__top">Schüco</div>
				<div class="main-slider-one__bottom">Mass customisation instead of industrial uniformity.</div>
			</div>
		</div>
		<div class="main-slider-one" style="background-image: url(/tmp/main-slide-2.jpg);">
			<div class="main-slider-content" >
				<div class="main-slider-one__top">Schüco</div>
				<div class="main-slider-one__bottom">Mass customisation instead of industrial uniformity.</div>
			</div>
		</div>
	</div>
</div>