<div class="blog-archives">
	<div class="blog-categories">
		<div class="blog-categories__title">
			Archives
		</div>
		<ul class="blog-categories-list">
			<li class="categories-list__item">GLASS WALL & PARTITIONS</li>
			<li class="categories-list__item">CURTAIN WALL SYSTEM</li>
			<li class="categories-list__item">STOREFRONT</li>
			<li class="categories-list__item">GLASS DOORS</li>
			<li class="categories-list__item">GLASS CANOPY</li>
			<li class="categories-list__item">ALUMINIUM ENTRANCE DOOR</li>
			<li class="categories-list__item">ALUMINIUM COMPOSITE PANELS</li>
			<li class="categories-list__item">SLIDING GLASS DOORS</li>
			<li class="categories-list__item">GLASS FLOOR</li>
		</ul>
	</div>
	<div class="archives-posts">
		<div class="archives-posts-item">
			<img class="archives-posts-item__img" src="/tmp/blog-img.png">
			<h2 class="archives-posts-item__title">
				<a class="archives-posts-item__title" href="#">Office Glass Partitioning</a>
			</h2>
			<div class="archives-posts-item__date">
				April 1st, 2017
			</div>
		</div>

		<div class="archives-posts-item">
			<img class="archives-posts-item__img" src="/tmp/blog-img.png">
			<h2 class="archives-posts-item__title">
				<a class="archives-posts-item__title" href="#">Office Glass Partitioning</a>
			</h2>
			<div class="archives-posts-item__date">
				April 1st, 2017
			</div>
		</div>

		<div class="archives-posts-item">
			<img class="archives-posts-item__img" src="/tmp/blog-img.png">
			<h2 class="archives-posts-item__title">
				<a class="archives-posts-item__title" href="#">Office Glass Partitioning</a>
			</h2>
			<div class="archives-posts-item__date">
				April 1st, 2017
			</div>
		</div>
	</div>
</div>
