<div class="blog--side">
	<div class="blog-list">
		<div class="blog-one">
			<a href="#" >
				<div class="blog-one__img">
				</div>
			</a>
			<div class="blog-one-descr">
				<a href="#" class="blog-one__title">
					<h2 class="blog-one__title">
						Office Glass Partitioning
					</h2>
				</a>
				<p class="blog-one__date">
					April 1st, 2017
				</p>
				<p class="blog-one-descr__text">
					These days office glass partitioning is popular with many businesses; they lower energy bills and there is more freedom of movement in the workplace. Employees can move from one part of the office to another and do it with minimal disruption to other employees. • Glass partitions work well in creating an open environment, while adding other benefits to the working environment such as providing great looking office spaces.
				</p>
				<a href=# class="blog-one__btn">read more</a>
			</div>
		</div>
		<div class="blog-one">
			<a href="#" >
				<div class="blog-one__img">
				</div>
			</a>
			<div class="blog-one-descr">
				<a href="#" class="blog-one__title">
					<h2 class="blog-one__title">
						Office Glass Partitioning
					</h2>
				</a>
				<p class="blog-one__date">
					April 1st, 2017
				</p>
				<p class="blog-one-descr__text">
					These days office glass partitioning is popular with many businesses; they lower energy bills and there is more freedom of movement in the workplace. Employees can move from one part of the office to another and do it with minimal disruption to other employees. • Glass partitions work well in creating an open environment, while adding other benefits to the working environment such as providing great looking office spaces.
				</p>
				<a href=# class="blog-one__btn">read more</a>
			</div>
		</div>
		<div class="blog-one">
			<a href="#" >
				<div class="blog-one__img">
				</div>
			</a>
			<div class="blog-one-descr">
				<a href="#" class="blog-one__title">
					<h2 class="blog-one__title">
						Office Glass Partitioning
					</h2>
				</a>
				<p class="blog-one__date">
					April 1st, 2017
				</p>
				<p class="blog-one-descr__text">
					These days office glass partitioning is popular with many businesses; they lower energy bills and there is more freedom of movement in the workplace. Employees can move from one part of the office to another and do it with minimal disruption to other employees. • Glass partitions work well in creating an open environment, while adding other benefits to the working environment such as providing great looking office spaces.
				</p>
				<a href=# class="blog-one__btn">read more</a>
			</div>
		</div>
		<div class="blog-one">
			<a href="#" >
				<div class="blog-one__img">
				</div>
			</a>
			<div class="blog-one-descr">
				<a href="#" class="blog-one__title">
					<h2 class="blog-one__title">
						Office Glass Partitioning
					</h2>
				</a>
				<p class="blog-one__date">
					April 1st, 2017
				</p>
				<p class="blog-one-descr__text">
					These days office glass partitioning is popular with many businesses; they lower energy bills and there is more freedom of movement in the workplace. Employees can move from one part of the office to another and do it with minimal disruption to other employees. • Glass partitions work well in creating an open environment, while adding other benefits to the working environment such as providing great looking office spaces.
				</p>
				<a href=# class="blog-one__btn">read more</a>
			</div>
		</div>
	</div>
	<div class="pager">
		<span>1</span>
		<a href="#">2</a>
		<a href="#">3</a>
	</div>
</div>
